{%extends display.mvc%}

{%block head_css%}
 <link rel="stylesheet"       href="{{url.static}}/css/style-home.css" rel="stylesheet">
{%if site.currentlang == 'en'%}
 <link rel="stylesheet"       href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{%endif%}
{%endblock%}


{%block body%}

 <!-- Header -->
 <header id="top" class="header">
  <div class="text-vertical-center">
   <h1>{{site.title | upper }}</h1>
   <h3>{{site.desc}}</h3>
   <br>
   <a href="{{url.kingdom}}/a" class="btn hauto btn-dark btn-lg">{%trans "Enter"%}</a>
  </div>
 </header>





{%endblock%}
