{%extends display.dash%}



{%block pageContent%}
  <div class="f">

    <div class="c6 s12">{{block('Bquiz')}}</div>
    <div class="c6 s12">{{block('Bcourse')}}</div>


  </div>
{%endblock%}



{%block Bquiz%}
<a class="dcard x2" href='{{url.here}}/quiz'>
 <div class="statistic green">
  <div class="value mB10"><i class="sf-server-accept"></i></div>
  <div class="label">{%trans "Quiz"%}</div>
 </div>
</a>
{%endblock%}



{%block Bcourse%}
<a class="dcard x2" href='{{url.kingdom}}/course'>
 <div class="statistic green">
  <div class="value mB10"><i class="sf-grid-alt"></i></div>
  <div class="label">{%trans "Course"%}</div>
 </div>
</a>
{%endblock%}
